In [20]:
from exa_py import Exa
import pandas as pd

In [21]:
exa = Exa('a2e035a2-d6dd-4860-9202-8df13b04f2b6')

df = pd.DataFrame()
data_dict = {}

In [ ]:
query = "AI Ethics"

response = exa.search(
  query = "AI Ethics",
  num_results=50,
  type='keyword'
  # include_domains=['https://www.tiktok.com'],
)

page= 10
target = 50
data_list = []

for responses in range(0,target,page):
      response = exa.search(
        query,
        num_results=page,
        type='keyword'        
        )

      data_list.extend(response.results)

In [ ]:
for r in data_list:
      new_row = pd.DataFrame([{
            "Title": r.title,
            "URL": r.url,
            "Published_data": r.published_date,
            "Author": r.author,
            "domain": r.url.split("/")[2] if "://" in r.url else r.url
      }])

      df = pd.concat([df, new_row], ignore_index=True)

In [ ]:
domain_counts = df["domain"].value_counts()
print(domain_counts)

domain
www.unesco.org                6
www.coursera.org              5
www.ibm.com                   5
en.wikipedia.org              5
www.klcc.org                  5
www.intelligence.gov          5
www.apa.org                   5
timesca.com                   4
m.economictimes.com           4
www.thomsonreuters.com        4
www.blockchain-council.org    1
hoodline.com                  1
Name: count, dtype: int64

In [ ]:
top_dom = domain_counts.max()/domain_counts.sum()
top_dom

np.float64(0.12)

pandas.core.series.Series

In [14]:
filtered_df

                        domain  Count
0             en.wikipedia.org      5
1                 hoodline.com      1
2          m.economictimes.com      4
3                  timesca.com      4
4                  www.apa.org      5
5   www.blockchain-council.org      1
6             www.coursera.org      5
7                  www.ibm.com      5
8         www.intelligence.gov      5
9                 www.klcc.org      5
10      www.thomsonreuters.com      4
11              www.unesco.org      6